$spotify-green: #1db954;
$primary: $spotify-green;
$information: $spotify-green;
$link: $spotify-green;
@import 'bulma/sass/utilities/_all';
@import 'bulma/bulma';
@import '@oruga-ui/theme-bulma/dist/scss/bulma';

#main-content {
  min-height: 50vh;
  display: block;
}

.upload-draggable.is-hovered {
  border-color: $spotify-green;
  color: $spotify-green;
}

@mixin dark-theme-base {
  color: $grey-light;
  background-color: $black;
}

.footer {
  clear: both;
  position: relative;
  bottom: 0;
  width: 100%;
}

// Navbar
.navbar {
  background-color: $white-bis;
}

html.dark {
  @include dark-theme-base;

  body,
  table {
    @include dark-theme-base;
  }

  a:hover,
  strong {
    color: $grey-lighter;
  }

  // Datepicker
  .datepicker .dropdown-menu {
    background-color: $black;
    border-color: $grey-darker;
    box-shadow: 0 0.5em 1em -0.125em $grey, 0 0px 0 1px $grey-lighter;
  }

  // Footer
  .footer {
    background-color: $black-bis;
  }

  // Navbar
  .navbar {
    background-color: $black-bis;
  }

  .navbar-item,
  .navbar-link {
    color: $light;
  }

  // Table
  .table.is-striped {
    tbody tr {
      background-color: $black-bis !important;
    }
  }

  .table {
    thead td,
    thead th {
      color: $light;
    }
  }

  // Tabs
  .tabs {
    a {
      color: $grey-lighter;
      border-bottom-color: $grey-darker;
    }
    a:hover {
      border-bottom-color: $grey-lighter;
    }
  }

  .b-tabs {
    .tabs:not(.is-toggle),
    .tabs:not(.is-toggle-rounded) {
      border-bottom-color: $grey-darker;
    }

    .tabs div a.is-active {
      border-bottom-color: $primary;
    }
  }

  // Tag
  .tag:not(body).is-dark {
    color: $dark;
    background-color: $light;
  }

  // Title
  .title {
    color: $grey-lighter;
  }
}
